@col-main: #800020;
@col-main-alt: #000;
@col-text: #000;
@col-text-alt: #fff;
@col-hover: @col-main;

@col-footer-top: @col-main;
@col-footer-top-text: white;
@col-footer-bottom: @col-main-alt;
@col-footer-bottom-text: white;

@font-main: 'Arial';
@font-size: 16px;

@grid-lr: 15px;
@grid-tb: 15px;

@container-width: 1600px;

@i: !important;
@mobile-min-width: 420px;
@mobile-max-width: 640px;
@tablet-min-width: 768px;
@tablet-max-width: 1024px;

.transform(@opt){ -webkit-transform: @opt; -moz-transform: @opt; -ms-transform: @opt; -o-transform: @opt; transform: @opt; }
.transition(@opt){ -webkit-transition: @opt; -moz-transition: @opt; -o-transition: @opt; transition: @opt; }

* {
    box-sizing: border-box;
}

body {
    font-family: @font-main;
    font-size: @font-size;
}

b, strong {
    font-weight: 700;
}

p {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 1em;
}

img {
    width: 100%;
    height: auto;
    vertical-align: middle;
}

a, button, input[type="submit"] {
    -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    -webkit-transition: .2s ease-out;
    -moz-transition: .2s ease-out;
    -o-transition: .2s ease-out;
    transition: .2s ease-out;
}

a {
    &:hover,
    &:visited {
        color: @col-main;
    }
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.clearfix:after,
.grid-cnt:after, {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
.container {
    width: 100%;
    max-width: @container-width;
    margin: 0 auto;
}

.grid-cnt {
    margin-left: -@grid-lr;
    margin-right: -@grid-lr;

    > div, > section, > article {
        padding-left: @grid-lr;
        padding-right: @grid-lr;
        padding-top: @grid-tb;
        padding-bottom: @grid-tb;
    }
}

.col-25, .col-30, .col-33, .col-40, .col-50, .col-60, .col-66, .col-70, .col-100 {
    float: left;
    padding-top: @grid-tb;
    padding-bottom: @grid-tb;
}

.col-25 {
    width: 25%;
}

.col-30 {
    width: 30%;
}

.col-33 {
    width: 33.33%;
}

.col-40 {
    width: 40%;
}

.col-50 {
    width: 50%;
}

.col-60 {
    width: 60%;
}

.col-66 {
    width: 66.66%;
}

.col-70 {
    width: 70%;
}

.col-75 {
    width: 75%;
}

.col-100 {
    width: 100%;
}

.btn {
    display: inline-block;
    height: 42px;
    padding: 0px 20px;
    font-size: 16px;
    line-height: 42px;
    text-decoration: none;
    color: white;
    background-color: @col-main;

    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16);
    -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16);

    &:hover {
        color: @col-main;
        background-color: white;
        text-decoration: none;
        border: 1px solid @col-main;
    }
}

/******************************************************************************/
/* HEADER *********************************************************************/
/******************************************************************************/
@header-height: 80px;

.header {
    border-bottom: 1px solid #cecece;
}
.custom_logo_link {
    line-height: @header-height;
}
.custom_logo {
    height: 50px;
    width: auto;
    vertical-align: middle;
}

.logo_container {
    float: left;
    width: 20%;
}

.nav_container {
    float: right;
    width: 80%;

    .nav.primary {
        float: left;
        a {
            font-weight: bold;
        }
    }
}

/******************************************************************************/
/* NAV ************************************************************************/
/******************************************************************************/

.nav {
    ul {
        li {
            display: inline-block;
            padding: 0px 20px;

            a {
                text-decoration: none;
                line-height: @header-height;
            }
        }
    }
}
/******************************************************************************/
/* FOOTER ELEMENTS ************************************************************/
/******************************************************************************/
footer.footer {
    background-color: @col-footer-top;
    color: @col-footer-top-text;

    .footer_column {
        float: left;
    }
    .layout_3_col .footer_column {
        width: 33.333%;
        padding: @grid-lr;
    }

    .footer_bottom {
        background-color: @col-footer-bottom;
        color: @col-footer-bottom-text;
        .footer_bottom_container {
            padding: @grid-lr;
            text-align: center;
        }
    }
}

/******************************************************************************/
/* PAGE STRUCTURAL ELEMENTS ***************************************************/
/******************************************************************************/
.page_container {
    padding: 30px 0px;
}
